.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}

.choose {
  width:7rem;
  height:7rem;
  border:1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.choose:hover{
  cursor:grab;
}
.textArea {
  color: white;
}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
  color: #ffffff;
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.form{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.button-32 {
  margin-top:2rem ;
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 8rem;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}